{% extends "base_generic.html" %}

{% block title %}Chat{% endblock %}

{% block extra_styles %}
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        .container {
            flex-grow: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
        #messages {
            flex-grow: 1;
            overflow: auto;
            padding: 0 15px;
            margin-bottom: 15px;
        }
        #messages .message {
            margin-bottom: 15px;
        }
        #messages .bot {
            text-align: left;
        }
        #messages .bot .bubble {
            display: inline-block;
            background-color: #e6e6ea;
            border-radius: 20px;
            padding: 10px 20px;
        }
        #messages .user {
            text-align: right;
        }
        #messages .user .bubble {
            display: inline-block;
            background-color: #0b93f6;
            color: white;
            border-radius: 20px;
            padding: 10px 20px;
        }
        #user-input {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }

        @keyframes blink {
          0% {
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }

        .typing-indicator::after {
          content: ' ...';
          animation: blink 1s steps(5, end) infinite;
        }

        .reserve-button {
            color: #ffffff;
            background-color: #007b00;
            border: none;
            border-radius: 3px;
            padding: 6px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .reserve-button:hover {
            background-color: #006900;
            color: white;
            box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 7px 20px 0 rgba(0,0,0,0.19);
        }

        .reserve-button:active {
            background-color: #006200;
            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24), 0 5px 10px 0 rgba(0,0,0,0.19);
            transform: translateY(4px);
        }

        .carousel-item img {
            object-fit: contain;
            height: 200px;
        }

        .carousel {
            max-height: 300px;
        }

        .carousel-image {
            cursor: pointer;
        }

        #modalImage {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(0,0,0,0.5);
            color: #fff;
            padding: 10px;
            text-decoration: none;
        }

        .arrow-left {
            left: 10px;
        }

        .arrow-right {
            right: 10px;
        }

        .modal-clickable-area {
            position: absolute;
            top: 0;
            bottom: 0;
            cursor: pointer;
            width: 50%;
            z-index: 1;
        }

        .modal-clickable-area.left {
            left: 0;
        }

        .modal-clickable-area.right {
            right: 0;
        }

        .residency-name {
            position: absolute;
            top: 0;
            margin-bottom: 0;
            width: 100%;
            padding: 10px;
            text-align: center;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
            color: #fff;
            transition: color 0.5s ease;
        }

        .residency-name:hover {
            color: #a8a7a7;
        }

        .close-button {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10;
            background-color: rgba(0,0,0,0.5);
            color: #fff;
            border: none;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            padding: 0;
            line-height: 0;
        }

        .close-button span {
            font-size: 1.2em;
            line-height: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center py-2">Barcino Travel Asistent</h2>

        <div id="messages" class="mt-2">
            <div class="alert alert-info text-center" role="alert">
              Započinjanjem ovog razgovora se slažete sa <a href="https://barcino.travel/mk/politika-na-privatnost/" target="_blank">Pravilima i uslovima</a>, kao i upotrebom podataka za kreiranje ponude.
            </div>
        </div>

        <div id="user-input" class="input-group">
            <input id="m" type="text" class="form-control" placeholder="Unesite pitanje" autocomplete="off" />
            <button id="send-button" disabled class="btn btn-primary input-group-append">
                <i class="fas fa-paper-plane"></i>
            </button>

            <!-- Button to Open the Modal -->
            <button id="info-button" type="button" style="display: none;" class="btn btn-info input-group-append" data-bs-toggle="modal" data-bs-target="#visitorInfoModal">
                Info
            </button>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="visitorInfoModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Share some information</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <form id="visitor-info-form">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="mb-3">
                            <label for="contact-phone" class="form-label">Contact phone</label>
                            <input type="text" class="form-control" id="contact-phone">
                        </div>
                        <div class="mb-3">
                            <label for="arrangement" class="form-label">Arrangement</label>
                            <input type="text" class="form-control" id="arrangement">
                        </div>
                        <!-- Add more fields as needed -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <button type="button" class="close-button" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <img id="modalImage" src="" class="img-fluid">
                    <div class="modal-clickable-area left"></div>
                    <div class="modal-clickable-area right"></div>
                    <a href="#" class="arrow arrow-left"><i class="fa fa-arrow-left"></i></a>
                    <a href="#" class="arrow arrow-right"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script>
        $(function () {
            var socket = new WebSocket('ws://localhost:8000/ws/chat/');  //wss://625915672fce-3560674319287587178.ngrok-free.app
            var visitorInfo = {};
            var isFirstResponse = true;
            var isHumanIntercepted = false;
            var linkRegEx = /\[([^\]]+)\]\((http[s]?:\/\/[^)]+)\)/g;
            var images = [];
            var currentIndex = 0;

            socket.onopen = function(event) {
                // Enable the button when connection is established
                $('#send-button').prop('disabled', false);
                console.log('Socket opened connection: ', event);
                // Append a welcome message
                $('#messages .bot:last .bubble').html('Dobrodošli na Barcino Travel Asistenta. Molimo vas da unesete vaše pitanje. Da biste dobili što tačnije odgovore, preporučujemo da budete što precizniji u formulisanju pitanja.');
            };

            appendMessage('', 'bot');

            function sendMessage() {
                var message = $('#m').val().trim();
                if (message.length === 0) {
                    return;
                }
                appendMessage(message, 'user');

                // Only add a bot message with a spinner if a human hasn't intercepted the conversation
                if (!isHumanIntercepted) {
                    appendMessage("", 'bot');
                }

                // Send message with the 'send_message' command
                socket.send(JSON.stringify({
                    'command': 'send_message',
                    'message': message
                }));
                $('#m').val('');

                // Only disable the button if a human hasn't intercepted the conversation
                if (!isHumanIntercepted) {
                    $('#send-button').prop('disabled', true);
                }
            }

            function appendMessage(text, sender) {
                var messageElement = $('<div>').addClass('message ' + sender);
                var bubbleElement = $('<div>').addClass('bubble').text(text);
                if (sender === 'bot' && !isHumanIntercepted) {
                    var typingElement = $('<div>').addClass('typing-indicator').text('Razmišljam');
                    bubbleElement.append(typingElement);
                }
                messageElement.append(bubbleElement);
                $('#messages').append(messageElement);
                $('#messages').scrollTop($('#messages')[0].scrollHeight);
            }

            $('#m').on('keydown', function (e) {
                if (e.key === 'Enter' && !$('#send-button').prop('disabled')) {
                    e.preventDefault();
                    sendMessage();
                }
            });

            $('#send-button').on('click', sendMessage);

            // Handle form submission
            $('#visitor-info-form').on('submit', function(e) {
                e.preventDefault();

                var name = $('#name').val().trim();
                var contact_phone = $('#contact-phone').val().trim();
                var arrangement = $('#arrangement').val().trim();
                // Continue for all the other form fields

                // Store these in visitorInfo
                visitorInfo = {
                    'name': name,
                    'contact_phone': contact_phone,
                    'arrangement': arrangement,
                    // Continue for all the other form fields
                };

                socket.send(JSON.stringify({
                    'command': 'submit_info',
                    ...visitorInfo
                }));

                // Close the modal
                var modal = bootstrap.Modal.getInstance(document.getElementById('visitorInfoModal'));
                modal.hide();
            });

            // Before showing the modal, populate fields with the data in visitorInfo
            $('#visitorInfoModal').on('show.bs.modal', function () {
                $('#name').val(visitorInfo.name || '');
                $('#contact-phone').val(visitorInfo.contact_phone || '');
                $('#arrangement').val(visitorInfo.arrangement || '');
                // Continue for all the other form fields
            });

            socket.onmessage = function(event) {
                var data = JSON.parse(event.data);
                var message = data.message.replaceAll('\n', '<br>');
                if (data.human_intercepted) {
                    isHumanIntercepted = true;
                }

                // Parse markdown links and create actual links and buttons
                message = message.replace(linkRegEx, function(match, text, url) {
                    return `<a href="${url}" class="link">${text}</a>
                    <button class="btn btn-primary reserve-button"
                    data-arrangement="${text}"
                    data-bs-toggle="modal"
                    data-bs-target="#visitorInfoModal">Резервирајте бесплатно</button>`;
                });

                // If there are images, create a carousel and append it to the message
                if (data.imgs) {
                    for (var i = 0; i < data.imgs.length; i++) {
                        var residency = data.imgs[i];
                        var images = residency.images;
                        var carouselId = 'carousel' + Math.floor(Math.random() * 1000000);  // Generate a random ID for the carousel
                        var carousel = `<div id="${carouselId}" class="mt-2 carousel carousel-dark slide" data-bs-ride="carousel">
                                        <div class="carousel-inner" data-images="${images.join(',')}">`;
                        for (var j = 0; j < images.length; j++) {
                            var active = j === 0 ? 'active' : '';
                            carousel += `<div class="carousel-item ${active}">
                                             <img src="${images[j]}" class="d-block w-100 carousel-image" alt="${residency.name}" data-index="${j}">
                                         </div>`;
                        }
                        carousel += `</div>
                                     <a href="${residency.link}" target="_blank"><h5 class="residency-name">${residency.name}</h5></a>
                                     <div class="d-flex justify-content-center align-items-end position-absolute bottom-0 start-0 w-100">
                                         <button class="btn btn-primary reserve-button"
                                                 data-arrangement="${residency.name}"
                                                 data-bs-toggle="modal"
                                                 data-bs-target="#visitorInfoModal">Резервирајте бесплатно</button>
                                     </div>
                                     <button class="carousel-control-prev" type="button" data-bs-target="#${carouselId}" data-bs-slide="prev">
                                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                     <span class="visually-hidden">Previous</span>
                                     </button>
                                     <button class="carousel-control-next" type="button" data-bs-target="#${carouselId}" data-bs-slide="next">
                                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                     <span class="visually-hidden">Next</span>
                                     </button>
                                     </div>`;
                        message += carousel;
                    }
                }

                // If a human has intercepted the conversation, append a new message
                if (isHumanIntercepted) {
                    appendMessage(message, 'bot');
                } else {
                    // Otherwise, replace the last bot message
                    $('#messages .bot:last .bubble').html(message);
                    $('#messages').scrollTop($('#messages')[0].scrollHeight);
                }

                // Enable the button
                $('#send-button').prop('disabled', false);

                // If it is the first response, enable the info button
                if (isFirstResponse) {
                    $('#info-button').show();
                    isFirstResponse = false;
                }

                // Add click event listener for newly created buttons
                $('.reserve-button').click(function() {
                    var arrangement = $(this).data('arrangement');
                    $('#arrangement').val(arrangement);
                });
            };

            function toggleArrows() {
                if (currentIndex > 0) {
                    $(".arrow-left").show();
                } else {
                    $(".arrow-left").hide();
                }
                if (currentIndex < images.length - 1) {
                    $(".arrow-right").show();
                } else {
                    $(".arrow-right").hide();
                }
            }

            // Attach a click event handler to the carousel images that opens the #imageModal
            $(document).on('click', '.carousel-image', function() {
                images = $(this).parent().parent().data('images').split(',');  // Assuming images are comma-separated
                currentIndex = $(this).data('index');  // Get the index of the clicked image
                $('#modalImage').attr('src', images[currentIndex]);
                $('#imageModal').modal('show');
                toggleArrows();
            });

            // Attach click event handlers to the arrows
            $(".modal-clickable-area.left").click(function(e) {
                e.preventDefault();
                if (currentIndex > 0) {
                    currentIndex--;
                    $('#modalImage').attr('src', images[currentIndex]);
                    toggleArrows();
                }
            });

            $(".modal-clickable-area.right").click(function(e) {
                e.preventDefault();
                if (currentIndex < images.length - 1) {
                    currentIndex++;
                    $('#modalImage').attr('src', images[currentIndex]);
                    toggleArrows();
                }
            });

            $(document).keydown(function(e) {
                if ($("#imageModal").hasClass('show')) {  // If the modal is open
                    switch(e.which) {
                        case 37: // left arrow key
                            $(".modal-clickable-area.left").click();
                            break;

                        case 39: // right arrow key
                            $(".modal-clickable-area.right").click();
                            break;

                        default: return; // exit this handler for other keys
                    }
                    e.preventDefault(); // prevent the default action (scroll / move caret)
                }
            });

            // Attach a single click event handler to the #messages element that fires for any .carousel-image
            $(document).on('click', '.carousel-image', function() {
                $('#imageModal').modal('show');
            });

            socket.onclose = function(event) {
                console.log('Socket closed connection: ', event);
            };

            socket.onerror = function(error) {
                console.log('Socket error: ', error);
            };
        });
    </script>
{% endblock %}
