{% extends "base_chat.html" %}

{% block title %}Chat{% endblock %}

{% block extra_styles %}
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        .container {
            flex-grow: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
        #messages {
            flex-grow: 1;
            overflow: auto;
            padding: 0 15px;
            margin-bottom: 15px;
        }
        #messages .message {
            margin-bottom: 15px;
        }
        #messages .bot {
            text-align: left;
        }
        #messages .bot .bubble {
            display: inline-block;
            background-color: #e6e6ea;
            border-radius: 20px;
            padding: 10px 20px;
        }
        #messages .user {
            text-align: right;
        }
        #messages .user .bubble {
            display: inline-block;
            background-color: #0b93f6;
            color: white;
            border-radius: 20px;
            padding: 10px 20px;
        }
        #user-input {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }

        @keyframes blink {
          0% {
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }

        .typing-indicator::after {
          content: ' ...';
          animation: blink 1s steps(5, end) infinite;
        }

        .reserve-button {
            color: #ffffff;
            background-color: #007b00;
            border: none;
            border-radius: 3px;
            padding: 6px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .reserve-button:hover {
            background-color: #006900;
            color: white;
            box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 7px 20px 0 rgba(0,0,0,0.19);
        }

        .reserve-button:active {
            background-color: #006200;
            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24), 0 5px 10px 0 rgba(0,0,0,0.19);
            transform: translateY(4px);
        }

        .carousel-item img {
            object-fit: contain;
            height: 200px;
        }

        .carousel {
            max-height: 300px;
        }

        .carousel-image {
            cursor: pointer;
        }

        #modalImage {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(0,0,0,0.5);
            color: #fff;
            padding: 10px;
            text-decoration: none;
        }

        .arrow-left {
            left: 10px;
        }

        .arrow-right {
            right: 10px;
        }

        .modal-clickable-area {
            position: absolute;
            top: 0;
            bottom: 0;
            cursor: pointer;
            width: 50%;
            z-index: 1;
        }

        .modal-clickable-area.left {
            left: 0;
        }

        .modal-clickable-area.right {
            right: 0;
        }

        .residency-name {
            position: absolute;
            top: 0;
            margin-bottom: 0;
            width: 100%;
            padding: 10px;
            text-align: center;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
            color: #fff;
            transition: color 0.5s ease;
        }

        .residency-name:hover {
            color: #a8a7a7;
        }

        .close-button {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10;
            background-color: rgba(0,0,0,0.5);
            color: #fff;
            border: none;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            padding: 0;
            line-height: 0;
        }

        .close-button span {
            font-size: 1.2em;
            line-height: 0;
        }

        #form-toast {
            z-index: 9999;
        }

        #initial-form label {
            line-height: 1.5;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <img src="/static/barcino-tours_2x_resized.webp" alt="Barcino Travel Asistent" class="mx-auto d-block py-2">

        <div id="messages" class="mt-2">
            <div class="alert alert-primary text-center" role="alert">
              Započinjanjem ovog razgovora se slažete sa <a href="https://barcino.travel/mk/politika-na-privatnost/" target="_blank">Pravilima i uslovima</a>, kao i upotrebom podataka za kreiranje ponude.
            </div>
        </div>

        <form id="initial-form" style="display: none;">
            <p class="mb-2">Ali pre svega, molim te da popuniš ovu formu kako bi znala dovoljno informacija:</p>
            <div class="form-group row">
                <label for="place" class="col-form-label col-form-label-sm col-sm-1">Mesto</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control form-control-sm" id="place" required>
                </div>
                <label for="region" class="col-form-label col-form-label-sm col-sm-1">Region</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control form-control-sm" id="region">
                </div>
                <label for="country" class="col-form-label col-form-label-sm col-sm-1">Zemlja</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control form-control-sm" id="country" value="Grčka" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="initial-adults" class="col-sm-1 col-form-label col-form-label-sm">Odrasli</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control form-control-sm" id="initial-adults" min="1" required>
                </div>
                <label for="initial-children" class="col-sm-1 col-form-label col-form-label-sm">Deca</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control form-control-sm" id="initial-children" min="0" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="initial-dateFrom" class="col-sm-1 col-form-label col-form-label-sm text-nowrap">Datum od</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control form-control-sm" id="initial-dateFrom" required>
                </div>
                <label for="initial-dateTo" class="col-sm-1 col-form-label col-form-label-sm text-nowrap">Datum do</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control form-control-sm" id="initial-dateTo" required>
                    <div class="invalid-feedback">
                        <small>Datum do mora biti posle datuma od.</small>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm mt-2" id="initial-confirm">Potvrdi</button>
        </form>

        <div id="user-input" class="input-group">
            <input id="m" type="text" class="form-control" placeholder="Unesite pitanje" autocomplete="off" maxlength="100" />
            <button id="send-button" disabled class="btn btn-primary input-group-append">
                <i class="fas fa-paper-plane"></i>
            </button>

            <!-- Button to Open the Modal -->
            <button type="button" style="display: none;" class="btn btn-info info-button input-group-append" data-bs-toggle="modal" data-bs-target="#visitorInfoModal">
                Info
            </button>
        </div>

        <div id="call-to-action" class="text-center" style="display: none;">
            <div id="limit-text" class="alert alert-warning"></div>
            <div id="call-agent-text" class="alert" style="display: none;"></div>
            <button id="call-agent-button" class="btn btn-primary">Kontakt sa agentom</button>
            <button type="button" class="btn btn-info info-button" data-bs-toggle="modal" data-bs-target="#visitorInfoModal">
                Zahtev za ponudu
            </button>
            <button type="button" class="btn btn-danger" onclick="window.close();">Zatvori chat</button>
        </div>
    </div>

    <div id="form-toast" class="toast text-white bg-success border-0 position-fixed top-0 end-0 m-3" id="submit-toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body text-center">
            Vaši podaci su uspešno usnimljeni.
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="visitorInfoModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h6 class="modal-title">Zahtev za ponudu</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <form id="visitor-info-form">
                        <div class="mb-3">
                            <label for="name" class="form-label">Ime</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="mb-3">
                            <label for="contact-phone" class="form-label">Kontakt telefon</label>
                            <input type="text" class="form-control" id="contact-phone" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="mb-3">
                            <label for="arrangement" class="form-label">Aranžman</label>
                            <input type="text" class="form-control" id="arrangement" required>
                        </div>
                        <div class="mb-3 d-none">
                            <label for="adults" class="form-label">Broj odraslih osoba</label>
                            <input type="number" class="form-control" id="adults" min="1" required>
                        </div>
                        <div class="mb-3 d-none">
                            <label for="children" class="form-label">Broj dece</label>
                            <input type="number" class="form-control" min="0" id="children">
                        </div>
                        <div class="mb-3">
                            <label for="budget" class="form-label">Okvirni budžet</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="budget" min="0" step="100">
                                <span class="input-group-text">€</span>
                            </div>
                        </div>
                        <div class="mb-3 d-none">
                            <label for="dateFrom" class="form-label">Datum od</label>
                            <input type="date" class="form-control" id="dateFrom" required>
                        </div>
                        <div class="mb-3 d-none">
                            <label for="dateTo" class="form-label">Datum do</label>
                            <input type="date" class="form-control" id="dateTo" required>
                            <div class="invalid-feedback">
                                Datum do mora biti posle datuma od.
                            </div>
                        </div>
                        <!-- Add more fields as needed -->
                        <button type="submit" class="btn btn-primary">Potvrdi</button>
                    </form>
                    <p class="mt-3 mb-0">Nakon što popunite i potvrdite ovaj formular, naš agent će Vas kontaktirati što je pre moguće.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <button type="button" class="close-button" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <img id="modalImage" src="" class="img-fluid">
                    <div class="modal-clickable-area left"></div>
                    <div class="modal-clickable-area right"></div>
                    <a href="#" class="arrow arrow-left"><i class="fa fa-arrow-left"></i></a>
                    <a href="#" class="arrow arrow-right"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    {{ block.super }}
    <script>
        var SHOW_INITIAL_FORM = true;

        $(function () {
            var socket = new WebSocket('{% if IS_HTTPS %}wss{% else %}ws{% endif %}://{{ HOSTNAME }}/ws/chat/');
            var visitorInfo = {};
            var isFirstResponse = true;
            var isHumanIntercepted = false;
            var linkRegEx = /\[([^\]]+)\]\((http[s]?:\/\/[^)]+)\)/g;
            var images = [];
            var currentIndex = 0;
            var phoneRegex = /^[\s()+-/]*([0-9][\s()+-/]*){8,}$/;
            var countdownInterval;

            function validateInput(selector, condition) {
                var value = $(selector).val();
                if (condition(value)) {
                    $(selector).removeClass('is-invalid').addClass('is-valid');
                } else {
                    $(selector).removeClass('is-valid').addClass('is-invalid');
                }
            }

            function validateDateTo(dateFromSelector, dateToSelector) {
                var dateFrom = new Date($(dateFromSelector).val()).toISOString().slice(0,10);
                var dateTo = new Date($(dateToSelector).val()).toISOString().slice(0,10);
                validateInput(dateToSelector, function(val) { return new Date(val) > new Date(dateFrom); });
                return { date_from: dateFrom, date_until: dateTo };
            }

            function capitalizeStr(str){
                return str.replace(/(^\w|\s\w)/g, m => m.toUpperCase());
            }

            socket.onopen = function(event) {
                console.log('Socket opened connection: ', event);
                // Append a welcome message
                $('#messages .bot:last .bubble').html(`
                    <b>Zdravo, ja sam Milica, chatbot agent Barcino Travela.</b> Kako ti mogu pomoći?<br>
                    <small><i>Kako bih ti precizno dala odgovore, preporučujem da budeš što precizniji u definisanju pitanja.</i></small>
                `);

                if (SHOW_INITIAL_FORM) {
                    // Append the form (initially hidden) to the message bubble
                    var messageElement = $('<div>').addClass('message bot');
                    var bubbleElement = $('<div>').addClass('bubble').append($('#initial-form'));
                    messageElement.append(bubbleElement);
                    $('#messages').append(messageElement);
                    $('#initial-form').show();

                    $('#initial-form').on('submit', function (e) {
                        e.preventDefault();
                        var dates = validateDateTo('#initial-dateFrom', '#initial-dateTo');

                        // If validation fails, stop execution
                        if ($('.is-invalid').length) {
                            return;
                        }

                        // Extract form values
                        var region = $('#region').val();
                        var place = capitalizeStr($('#place').val()) + ', ' + (region ? capitalizeStr(region) + ', ' : '') + $('#country').val();
                        var adults = $('#initial-adults').val();
                        var children = $('#initial-children').val();

                        // Store these in visitorInfo
                        visitorInfo = {
                            'arrangement': place,
                            'adults': adults,
                            'children': children,
                            ...dates
                        };

                        // Send the visitor info to the server
                        socket.send(JSON.stringify({
                            'command': 'submit_info',
                            'data': visitorInfo
                        }));

                        // Enable the send button
                        $('#send-button').prop('disabled', false);

                        // Hide the form
                        messageElement.hide();

                        // Send the message
                        sendMessage("Сакам да одам во " + place + (children > 0 ? " со моето семејство" : '') + '.');
                    });
                } else {
                    $('#send-button').prop('disabled', false);
                }
            };

            appendMessage('', 'bot');

            function sendMessage(message, no_append) {
                message = message || $('#m').val().trim();
                if (message.length === 0) {
                    return;
                }
                if (!no_append) {
                    appendMessage(message, 'user');
                }

                // Only add a bot message with a spinner if a human hasn't intercepted the conversation
                if (!isHumanIntercepted) {
                    appendMessage("", 'bot');
                }

                // Send message with the 'send_message' command
                socket.send(JSON.stringify({
                    'command': 'send_message',
                    'message': message
                }));
                $('#m').val('');

                // Only disable the button if a human hasn't intercepted the conversation
                if (!isHumanIntercepted) {
                    $('#send-button').prop('disabled', true);
                }
            }

            function appendMessage(text, sender, file) {
                var messageElement = $('<div>').addClass('message ' + sender);
                var bubbleElement = $('<div>').addClass('bubble').text(text);
                if (sender === 'bot' && !isHumanIntercepted) {
                    var typingElement = $('<div>').addClass('typing-indicator').html('<i>Kuckam</i>');
                    bubbleElement.append(typingElement);
                }
                if (file) {
                    var filename = file.split('/').pop();
                    var fileLink = $('<a>').attr('href', '/media/'+file).attr('target', '_blank').addClass('badge bg-primary').html('<i class="fa fa-paperclip"></i> ' + filename);
                    if (text) {
                        bubbleElement.append('<br/>');
                    }
                    bubbleElement.append(fileLink);
                }
                messageElement.append(bubbleElement);
                $('#messages').append(messageElement);
                setTimeout(function() { $('#messages').scrollTop($('#messages')[0].scrollHeight); });
            }

            $('#m').on('keydown', function (e) {
                if (e.key === 'Enter' && !$('#send-button').prop('disabled')) {
                    e.preventDefault();
                    sendMessage();
                }
            });

            $('#send-button').on('click', function() { sendMessage() });

            $(document).ready(function() {
                $('#visitor-info-form').on('submit', function(e) {
                    e.preventDefault();

                    var contact_phone = $('#contact-phone').val().trim();

                    validateInput('#contact-phone', function(val) { return phoneRegex.test(val); });
                    // Validate the date fields
                    var dates = validateDateTo('#dateFrom', '#dateTo');

                    // If validation fails, stop execution
                    if ($('.is-invalid').length) {
                        return;
                    }

                    var name = $('#name').val().trim();
                    var email = $('#email').val().trim();
                    var arrangement = $('#arrangement').val().trim();
                    var adults = $('#adults').val();
                    var children = parseInt($('#children').val() || 0);
                    var budget = parseInt($('#budget').val() || 0);

                    // Store these in visitorInfo
                    visitorInfo = {
                        'name': name,
                        'contact_phone': contact_phone,
                        'email': email,
                        'arrangement': arrangement,
                        'adults': adults,
                        'children': children,
                        'budget': budget,
                        ...dates
                        // Continue for all the other form fields
                    };

                    socket.send(JSON.stringify({
                        'command': 'submit_info',
                        'data': visitorInfo
                    }));

                    // Close the modal
                    var modal = bootstrap.Modal.getInstance(document.getElementById('visitorInfoModal'));
                    modal.hide();

                    var toast = new bootstrap.Toast($('#form-toast')[0]);
                    toast.show();
                });
            });

            // Before showing the modal, populate fields with the data in visitorInfo
            $('#visitorInfoModal').on('show.bs.modal', function () {
                $('#name').val(visitorInfo.name || '');
                $('#contact-phone').val(visitorInfo.contact_phone || '');
                $('#email').val(visitorInfo.email || '');
                $('#arrangement').val(visitorInfo.arrangement || '');
                $('#adults').val(visitorInfo.adults || '');
                $('#children').val(visitorInfo.children || '');
                $('#budget').val(visitorInfo.budget || '');
                $('#dateFrom').val(visitorInfo.date_from || '');
                $('#dateTo').val(visitorInfo.date_until || '');

                // Clear validation
                $('#visitor-info-form').removeClass('was-validated');
                $('#visitor-info-form').find('.is-valid, .is-invalid').removeClass('is-valid is-invalid');
            });

            function startCountdown(seconds) {
                clearInterval(countdownInterval);
                countdownInterval = setInterval(function() {
                    seconds--;
                    $('#limit-text').text('Molimo sačekajte ' + seconds + ' sekundi.');
                    if (seconds <= 0) {
                        clearInterval(countdownInterval);
                        if (!isFirstResponse) {
                            var lastUserMsg = $('#messages .user:last .bubble').text();
                            if (lastUserMsg) {
                                sendMessage(lastUserMsg, true);
                            } else {
                                $('#send-button').prop('disabled', false);
                            }
                        } else {
                            $('#send-button').prop('disabled', true);
                            $('#initial-confirm').prop('disabled', false);
                        }
                        $('#user-input').show();
                        $('#call-to-action').hide();
                    }
                }, 1000);
            }

            function showCTA(){
                $('#user-input').hide();
                $('#call-to-action').show();
                $('#limit-text').text('Nadamo se da smo Vam pružili potrebne informacije. Kako želite da nastavite?');
            }

            socket.onmessage = function(event) {
                var data = JSON.parse(event.data);

                if (!isHumanIntercepted && (data.agent_requested || data.exceeded_limit)) {
                    if (data.agent_requested) {
                        isHumanIntercepted = true;
                    }
                    showCTA();
                    if (isFirstResponse || !data.message) {
                        if (!data.message) {
                            if (isFirstResponse && !data.global_limit) {
                                $('#messages .bot .bubble').remove();
                                $('.info-button').remove();
                                $('#call-agent-button').click();
                            } else if (!isFirstResponse || !data.global_limit) {
                                $('#messages .bot:last .bubble').remove();
                            }
                        }
                        if (data.global_limit) {
                            if (isFirstResponse) {
                                $('#initial-confirm').prop('disabled', true);
                            }
                            return startCountdown(data.remaining_secs);
                        }
                    }
                }

                var message = data.message ? data.message.replaceAll('\n', '<br>') : '';
                if (data.human_intercepted || data.file) {
                    isHumanIntercepted = true;
                }

                // Parse markdown links and create actual links and buttons
                message = message.replace(linkRegEx, function(match, text, url) {
                    return `<a href="${url}" class="link">${text}</a>
                    <button class="btn btn-primary reserve-button"
                    data-arrangement="${text}"
                    data-bs-toggle="modal"
                    data-bs-target="#visitorInfoModal">Резервирајте бесплатно</button>`;
                });

                // If there are images, create a carousel and append it to the message
                if (data.imgs) {
                    for (var i = 0; i < data.imgs.length; i++) {
                        var residency = data.imgs[i];
                        var images = residency.images;
                        var carouselId = 'carousel' + Math.floor(Math.random() * 1000000);  // Generate a random ID for the carousel
                        var carousel = `<div id="${carouselId}" class="mt-2 carousel carousel-dark slide" data-bs-ride="carousel">
                                        <div class="carousel-inner" data-images="${images.join(',')}">`;
                        for (var j = 0; j < images.length; j++) {
                            var active = j === 0 ? 'active' : '';
                            carousel += `<div class="carousel-item ${active}">
                                             <img src="${images[j]}" class="d-block w-100 carousel-image" alt="${residency.name}" data-index="${j}">
                                         </div>`;
                        }
                        carousel += `</div>
                                     <a href="${residency.link}" target="_blank"><h5 class="residency-name">${residency.name}</h5></a>
                                     <div class="d-flex justify-content-center align-items-end position-absolute bottom-0 start-0 w-100">
                                         <button class="btn btn-primary reserve-button"
                                                 data-arrangement="${residency.name}"
                                                 data-bs-toggle="modal"
                                                 data-bs-target="#visitorInfoModal">Резервирајте бесплатно</button>
                                     </div>
                                     <button class="carousel-control-prev" type="button" data-bs-target="#${carouselId}" data-bs-slide="prev">
                                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                     <span class="visually-hidden">Previous</span>
                                     </button>
                                     <button class="carousel-control-next" type="button" data-bs-target="#${carouselId}" data-bs-slide="next">
                                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                     <span class="visually-hidden">Next</span>
                                     </button>
                                     </div>`;
                        message += carousel;
                    }
                }

                if (!data.agent_requested && !data.exceeded_limit && !$('#user-input').is(':visible')) {
                    $('#call-to-action').hide();
                    $('#user-input').show();
                    $('#send-button').prop('disabled', false);
                }

                // If a human has intercepted the conversation, append a new message
                if (isHumanIntercepted) {
                    if (message || data.file) {
                        appendMessage(message, 'bot', data.file);
                    }
                } else {
                    // Otherwise, replace the last bot message
                    $('#messages .bot:last .bubble').html(message);
                    $('#messages').scrollTop($('#messages')[0].scrollHeight);

                    // If the user has exceeded limit of messages, disable the input and show the call to action
                    if (!isHumanIntercepted && data.exceeded_limit) {
                        showCTA();
                        if (data.global_limit) {
                            startCountdown(data.remaining_secs);
                        }
                    }

                    // Enable the button
                    $('#send-button').prop('disabled', false);

                    // If it is the first response, enable the info button
                    if (isFirstResponse) {
                        $('.info-button').show();
                        isFirstResponse = false;
                    }
                }

                // Add click event listener for newly created buttons
                $('.reserve-button').click(function() {
                    var arrangement = $(this).data('arrangement');
                    $('#arrangement').val(arrangement);
                });
            };

            function toggleArrows() {
                if (currentIndex > 0) {
                    $(".arrow-left").show();
                } else {
                    $(".arrow-left").hide();
                }
                if (currentIndex < images.length - 1) {
                    $(".arrow-right").show();
                } else {
                    $(".arrow-right").hide();
                }
            }

            // Attach a click event handler to the carousel images that opens the #imageModal
            $(document).on('click', '.carousel-image', function() {
                images = $(this).parent().parent().data('images').split(',');  // Assuming images are comma-separated
                currentIndex = $(this).data('index');  // Get the index of the clicked image
                $('#modalImage').attr('src', images[currentIndex]);
                $('#imageModal').modal('show');
                toggleArrows();
            });

            // Attach click event handlers to the arrows
            $(".modal-clickable-area.left").click(function(e) {
                e.preventDefault();
                if (currentIndex > 0) {
                    currentIndex--;
                    $('#modalImage').attr('src', images[currentIndex]);
                    toggleArrows();
                }
            });

            $(".modal-clickable-area.right").click(function(e) {
                e.preventDefault();
                if (currentIndex < images.length - 1) {
                    currentIndex++;
                    $('#modalImage').attr('src', images[currentIndex]);
                    toggleArrows();
                }
            });

            $('#call-agent-button').on('click', function () {
                clearInterval(countdownInterval);
                $('#limit-text').hide();
                $('#call-agent-button').hide();
                // Get the current date and time in Macedonia
                var now = moment().tz("Europe/Belgrade");

                // Get the current day of the week (0 for Sunday, 1 for Monday, ..., 6 for Saturday)
                var dayOfWeek = now.day();

                // Get the current hour
                var hour = now.hour();

                // Check if it's a working day and time
                var isWorkingTime = (dayOfWeek >= 1 && dayOfWeek <= 5) && (hour >= 9 && hour < 17);

                // isWorkingTime = true; // delete this

                if (isWorkingTime) {
                    // It's a working time, send the message to call an agent
                    $('#call-agent-text').text('Prvi agent će vas kontaktirati u što kraćem roku...').addClass('alert-info').show();
                    if (!isHumanIntercepted) {
                        isHumanIntercepted = true;
                        sendMessage('Би сакал агент да ме контактира.');
                    }
                } else {
                    // It's not a working time, show the alert message
                    $('#call-agent-text').text('Naši agenti su trenutno van radnog vremena (od 9 do 17h CET, od ponedeljka do petka). Molimo Vas da nas kontaktirate putem e-maila.').addClass('alert-danger').show();
                }
                $('#call-agent-text').show();
            });

            $(document).keydown(function(e) {
                if ($("#imageModal").hasClass('show')) {  // If the modal is open
                    switch(e.which) {
                        case 37: // left arrow key
                            $(".modal-clickable-area.left").click();
                            break;

                        case 39: // right arrow key
                            $(".modal-clickable-area.right").click();
                            break;

                        default: return; // exit this handler for other keys
                    }
                    e.preventDefault(); // prevent the default action (scroll / move caret)
                }
            });

            // Attach a single click event handler to the #messages element that fires for any .carousel-image
            $(document).on('click', '.carousel-image', function() {
                $('#imageModal').modal('show');
            });

            socket.onclose = function(event) {
                console.log('Socket closed connection: ', event);
                clearInterval(countdownInterval);
            };

            socket.onerror = function(error) {
                console.log('Socket error: ', error);
            };
        });
    </script>
{% endblock %}
