{% extends "base_generic.html" %}

{% block title %}Panel{% endblock %}

{% block extra_styles %}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f6f8;
    }

    .panel-body {
        border: 1px solid #007bff;
        border-top: none;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 5px rgba(0,0,0,.26);
        background-color: white;
        padding: 15px;
        overflow-y: auto;
    }

    .question {
        display: inline-block;
        background-color: #a9a9a9;
        border-radius: 12px;
        padding: 10px;
        margin-bottom: 5px;
        word-break: break-all;
    }

    .answer {
        display: inline-block;
        background-color: #0e86fe;
        color: white;
        border-radius: 12px;
        padding: 10px;
        margin-bottom: 5px;
    }

    .list-group-item {
        cursor: pointer;
        margin-bottom: 10px;
    }

    .list-group-item.active {
        background-color: #007bff;
        border-color: #007bff;
        color: white;
    }

    .session-info {
        border: 1px solid #007bff;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0,0,0,.26);
        background-color: white;
        margin-top: 20px;
        padding: 15px;
    }

    .truncate {
        line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .badge {
        white-space: break-spaces;
        text-align: left;
    }

    .new-message {
        background-color: #ffd700;
    }

    .h-100 {
        height: 100vh !important;
    }

    .flex-grow-1 {
        flex-grow: 1;
        overflow: hidden;
    }

    .panel-wrapper {
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    .panel-content {
        flex: 1 1 auto;
        overflow-y: auto;
    }

    .session-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .rename-delete-template {
        display: flex;
        align-items: center;
    }

    .rename-delete-template button,
    .rename-delete-template input {
        margin-left: 5px;
    }

    /* Adjustments for multi-line content */
    .list-group-item.list-group-item-action.truncate {
        flex-grow: 1;
        margin-right: 5px;
    }

    .terminated {
        background-color: #f8d7da;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 d-flex flex-column">
    <div class="row flex-grow-1 overflow-hidden">
        <div class="col-md-4 panel-wrapper">
            <h5>Chat Sessions</h5>
            <div class="list-group panel-content" id="session-list"></div>
        </div>
        <div class="col-md-4 panel-wrapper">
            <h5>Chat Session</h5>
            <div id="chat-session" class="panel-body panel-content"></div>
            <div id="intercept-panel" class="panel-body panel-content mt-2 d-none">
                <input type="text" id="intercept-message" class="form-control" placeholder="Type your message...">
                <button id="intercept-button" class="btn btn-primary mt-2">Send Message</button>
            </div>
        </div>
        <div class="col-md-4 panel-wrapper">
            <h5>Information</h5>
            <div id="info-pane" class="panel-content">
                Name: <span id="name"></span></p><br/>
                Contact phone: <span id="contact-phone"></span></p><br/>
                Arrangement: <span id="arrangement"></span></p><br/>
            </div>
        </div>
    </div>
</div>

<template id="session-template">
    <div class="session-item">
        <a href="#" class="name list-group-item list-group-item-action truncate"></a>
        <input class="mb-2 edit-name" style="display: none;" type="text">
        <div id="rename-delete-template" class="mb-2 rename-delete-template">
            <button class="btn btn-sm btn-light rename-session-button"><i class="fas fa-edit"></i></button>
            <button class="btn btn-sm btn-light save-name-button" style="display: none;"><i class="fas fa-save"></i></button>
            <button class="btn btn-sm btn-light cancel-rename-button" style="display: none;"><i class="fas fa-times"></i></button>
            <button class="btn btn-sm btn-light delete-session-button"><i class="fas fa-trash"></i></button>
        </div>
    </div>
</template>

<template id="message-template">
    <div class="card">
        <div class="card-body">
            <span class="badge question"></span><br>
            <span class="badge answer"></span>
        </div>
    </div>
</template>
{% endblock %}

{% block extra_scripts %}
<script>
    $(function () {
        var socket = new WebSocket('ws://localhost:8000/ws/panel/');
        var activeSession = null;
        var pendingSessionMessages = {};

        socket.onopen = function(event) {
            socket.send(JSON.stringify({ command: 'fetch_sessions' }));
        };

        function appendElement(id, templateId, parentId, callback, prepend = false) {
            if (!$(`#${id}`).length) {
                let templateElement = document.querySelector(`#${templateId}`);
                let clone = templateElement.content.cloneNode(true);
                callback(clone);
                if (prepend) {
                    $(`#${parentId}`).prepend(clone);
                } else {
                    $(`#${parentId}`).append(clone);
                }
            }
        }

        function putSessionName(link, session_id_name, message) {
            link.textContent = (!isNaN(session_id_name) ? '#' : '') + `${session_id_name} - ${message}`;
        }

        function appendSession(session, prepend) {
            appendElement(`session-${session.id}`, 'session-template', 'session-list', function(clone) {
                let link = clone.querySelector('a');
                $(clone).find('.session-item').attr('id', `session-${session.id}`);
                link.onclick = function() { fetchMessages(session.id); };
                if (activeSession === session.id) {
                    link.classList.add('active');
                }

                if (session.terminated) {
                    $(clone).find('.session-item').addClass('terminated');
                }

                if (pendingSessionMessages[session.id]) {
                    session.last_message_text = pendingSessionMessages[session.id].message;
                    delete pendingSessionMessages[session.id];
                }

                putSessionName(link, session.name || session.id, session.last_message_text);
            }, prepend);

            // setup onclick handlers after appending the clone
            let clone = $(`#session-${session.id}`);
            clone.find('.rename-session-button').click(function() {
                clone.find('.edit-name').show();
                clone.find('.edit-name').val(session.name);
                clone.find('.rename-session-button').hide();
                clone.find('.delete-session-button').hide();
                clone.find('.save-name-button').show();
                clone.find('.cancel-rename-button').show();
            });

            clone.find('.cancel-rename-button').click(function() {
                clone.find('.edit-name').hide();
                clone.find('.rename-session-button').show();
                clone.find('.delete-session-button').show();
                clone.find('.save-name-button').hide();
                clone.find('.cancel-rename-button').hide();
            });

            function disableAllButtons() {
                clone.find('.edit-name').prop('disabled', true);
                clone.find('.save-name-button').prop('disabled', true);
                clone.find('.rename-session-button').prop('disabled', true);
                clone.find('.delete-session-button').prop('disabled', true);
                clone.find('.cancel-rename-button').prop('disabled', true);
            }

            clone.find('.save-name-button').click(function() {
                var newName = clone.find('.edit-name').val();
                disableAllButtons();
                socket.send(JSON.stringify({
                    command: 'rename_session',
                    session_id: session.id,
                    new_name: newName
                }));
            });

            clone.find('.delete-session-button').click(function() {
                disableAllButtons();
                socket.send(JSON.stringify({
                    command: 'delete_session',
                    session_id: session.id
                }));
            });
        }

        function appendMessage(message) {
            appendElement(`message-${message.id}`, 'message-template', 'chat-session', function(clone) {
                let card = clone.querySelector('.card');
                card.id = `message-${message.id}`;
                let question = card.querySelector('.question');
                question.textContent = message.message;
                let answer = card.querySelector('.answer');
                answer.textContent = message.response;

                // Scroll to bottom when a new message is appended
                $('#chat-session').scrollTop($('#chat-session')[0].scrollHeight);
            });
        }

        socket.onmessage = function(event) {
            var data = JSON.parse(event.data);

            // handle incoming new sessions
            if (data.command === 'new_session') {
                appendSession(data.session, true);
            }

            // handle incoming new messages
            else if (data.command === 'new_message') {
                var message = data.message;

                let sessionLink = $(`#session-${message.session_id} .name`);
                if (sessionLink.length) {
                    putSessionName(sessionLink[0], message.session_name || message.session_id, message.message);
                    sessionLink.addClass('new-message');
                } else {
                    pendingSessionMessages[message.session_id] = message;
                }

                // Append message to chat only if it's for the active session
                if (message.session_id === activeSession) {
                    appendMessage(message);
                }
            }

            // handle fetched sessions
            else if (data.command === 'fetch_sessions') {
                data.sessions.forEach(appendSession);
            }

            // handle fetched messages
            else if (data.command === 'fetch_messages') {
                data.messages.forEach(appendMessage);

            } else if (data.command === 'deleted_session') {
                $(`#session-${data.session_id}`).remove();

            } else if (data.command === 'renamed_session') {
                var sessionDiv = $(`#session-${data.session_id}`);
                putSessionName(sessionDiv.find('.name'), data.new_name, data.last_message_text);
                sessionDiv.find('.edit-name').hide().prop('disabled', false);
                sessionDiv.find('.rename-session-button').show().prop('disabled', false);
                sessionDiv.find('.delete-session-button').show().prop('disabled', false);
                sessionDiv.find('.save-name-button').hide().prop('disabled', false);
                sessionDiv.find('.cancel-rename-button').hide().prop('disabled', false);

            } else if (data.command === 'visitor_info' || data.command === 'update_visitor_info') {
                if (activeSession === data.session_id) {
                    $('#name').text(data.info.name);
                    $('#contact-phone').text(data.info.contact_phone);
                    $('#arrangement').text(data.info.arrangement);
                }

            } else {
                console.error('Unrecognized command:', data.command);
            }
        }

        socket.onclose = function(event) {
            console.log('Socket closed connection: ', event);
        };

        socket.onerror = function(error) {
            console.log('Socket error: ', error);
        };

        window.fetchMessages = function(sessionId) {
            activeSession = sessionId;
            $('.list-group-item').removeClass('active');
            var sessionDiv = $(`#session-${sessionId} .list-group-item`);
            sessionDiv.addClass('active');
            sessionDiv.removeClass('new-message');
            // Clear the chat session before loading new messages
            $('#chat-session').html('');
            socket.send(JSON.stringify({ command: 'fetch_messages', session_id: sessionId }));
            // Fetch the visitor info for the active session
            socket.send(JSON.stringify({ command: 'fetch_visitor_info', session_id: sessionId }));
            // Determine whether to show or hide the intercept panel
            var sessionDiv = $(`#session-${sessionId}`);
            if (!sessionDiv.hasClass('terminated')) {
                $('#intercept-panel').removeClass('d-none');
            } else {
                $('#intercept-panel').addClass('d-none');
            }
        };

        // Handle the click event of the intercept button
        $('#intercept-button').click(function() {
            if (activeSession) {
                var message = $('#intercept-message').val();
                if (message.trim()) {
                    // Disable the input and button temporarily
                    $('#intercept-message').prop('disabled', true);
                    $('#intercept-button').prop('disabled', true);

                    socket.send(JSON.stringify({
                        command: 'intercept_message',
                        session_id: activeSession,
                        message: message
                    }));

                    // Clear the input
                    $('#intercept-message').val('');
                }
            }
        });
    });
</script>
{% endblock %}
